<div>
  <div class="header">
    <div class="logo"><%= image_tag 'ps_logo.png' %></div>
    <div class="header__title">Geradores de Energia</div>
  </div>
  <nav class="navbar navbar-light gradient">
    <div class="searcher__radio">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="simpleSearch" value="simple" checked>
        <label class="form-check-label" for="simpleSearch">Pesquisa simples</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="advancedSearch" value="advanced">
        <label class="form-check-label" for="advancedSearch">Pesquisa Avançada</label>
      </div>
    </div>
    <%= form_tag do %>
      <div class="simple-form form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="o que procura?">
        <button type="submit" class="btn btn-outline-primary">Pesquisar</button>
      </div>

      <div class="advanced-form" style="display:none;">
        Entradas do usuário para pesquisar uma coleção de geradores de energia com base nas recomendações fornecidas e melhor custo de frete.
      </div>
    <% end %>
  </nav>
  <div class="container-fluid" >
    <% @power_generators.each do |power_generator| %>
      <div class="card mb-3" style="max-width: 650px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= image_tag power_generator.image_url, class: 'power_generator-card__img' %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= power_generator.name.upcase %></h5>
              <h5 class="card-title text-danger"><%= number_to_currency(power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></h5>
              <p class="card-text"><strong>Descrição: </strong><%= power_generator.description %></p>
              <p class="card-text"><small class="text-muted">Recomendação: </small></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
